<h3> Staff </h3>
<table>
  <tr>
    <th>Name</th>
    <th> Role </th>
    <th> Edit </th>
  </tr>
  <% @users.each do |user| %>
  <tr>
    <td> <%= user.name %> </td>
    <td> <%= user.role.titleize %> </td>
    <td> <%= link_to "Edit", edit_user_path(user.id), class: "btn btn-primary" %>
  </tr>
  <% end %>
<table>
<%= link_to "Add User", new_user_path, class: "btn btn-primary" %>
